<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Simple-Memory-BBS</title>
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
<link href="//use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet"/>

<script src="https://dotnsf.github.io/captcha.nsf/captcha.nsf.js"></script>
<link href="https://dotnsf.github.io/captcha.nsf/captcha.nsf.css" rel="stylesheet"/>
<!--
<script src="https://dotnsf.github.io/captcha.nsf/jquery.jqpuzzle.min.js"></script>
<link href="https://dotnsf.github.io/captcha.nsf/jquery.jqpuzzle.css" rel="stylesheet"/>
-->

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<style type='text/css'>
html, body{
  background-color: #fafafa;
  font-size: 20px;
  color: hsl(0, 0%, 20%);
}
.item-div{
  background-color: #fafacc;
  border: solid #880;
}
.item-username-div{
  font-size: 16;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
}
.item-body-div{
  font-size: 14;
  color: hsl(0, 0%, 20%);
}
.item-created-div{
  font-size: 12;
  color: hsl(0, 0%, 20%);
  text-align: right;
}
</style>
<script>
$(function(){
});

function showEditModal(){
  $('#editModal').modal();

  var mode = getParam( 'mode' );
  $('#modal-footer').mycaptcha({ mode: mode });
}

function getParam( name, url ){
  var r = null;
  if( !url ) url = window.location.search;
  if( url ){ url = url.substring( 1 ); }
  if( url ){
    var params = url.split( '&' );
    for( var i = 0; i < params.length && !r; i ++ ){
      var tmp = params[i].split( '=' );
      if( tmp[0] == name ){
        r = tmp[1];
      }
    }
  }
  return r;
}
</script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Simple-Memory-BBS
  </a>
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="btn btn-warning" href="#" onClick="showEditModal();" title="New">New</a>
    </li>
  </ul>
</nav>

<div class="container" style="margin-top: 50px;">
<% for( var i = 0; i < items.length; i ++ ){ %>
  <div class="item-div" id="<%= items[i].id %>">
    <div class="item-username-div">
      <%= items[i].username %>
    </div>
    <div class="item-body-div">
      <%= items[i].body %>
    </div>
    <div class="item-created-div">
      <span title="Resolved: <%= items[i].__mycaptcha_formula__ %> in <%= items[i].__mycaptcha_time__ %> sec.">
      <%= items[i].created %>
      </span>
    </div>
  </div>
<% } %>
</div>

<div class="modal bd-example-modal-lg fade" id="editModal" tabindex="-1" role="dialog" aria-labbelledby="editModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form action="/message" method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="editModalLabel">New</h4>
        </div>
        <div class="modal-body" id="editmodal-body">
          <div class="item-div">
            <div class="item-username-div">
              <input type="text" class="form-control" name="username" id="username" placeholder="名前" value=""/>
            </div>
            <div class="item-body-div">
              <textarea name="body" class="form-control" id="body" placeholder="..."></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer" id="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="OK"/>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>
